<h1><%= @user.name %></h1>

<h3>Your Movie List</h3>
<% @user.movies.each do |movie| %>
    <%= link_to movie.title, movie_path(movie) %>
<% end%>

<%= link_to "Add Movies to your watchlist", new_movie_path %>
<%= link_to "Log out", logout_path, method: :delete %>